<div class="card wrap2">
	<h1 class="center padding_top_10">Edit article</h1>
 	
 	<div class="wrap">
		<%= render 'form' %>
		<%= link_to 'Back', articles_path, class: "btn margin_top_10 buttonShift"%>
 	</div>

	 
</div>