
<div class="wrap3 card">
  <h1 class="center">Listing articles</h1>
   
  <table>
    <tr>
      <th>Title</th>
      <th>Text</th>
    </tr>
   

    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.text %></td>
        <td class="btn margin_left_10"><%= link_to 'Show', article_path(article), class: "white-text"  %></td>
        <td class="btn margin_left_10"><%= link_to 'Edit', edit_article_path(article) , class: "white-text"%></td>
        <td class="btn margin_left_10"><%= link_to 'Delete', article_path(article), 
                method: :delete,
                data: { confirm: 'Are you sure?' }, class: "white-text" %></td>
      </tr>
    <% end %>
  </table>
  <div class="card-action">
    <%= link_to 'New article', new_article_path, class: "btn margin_top_10"%>
  </div>

   
</div> 
 
