<div class="card wrap2">
	<h1 class="center padding-top-20">New article</h1>
	 
	<div class="wrap">
		<%= render 'form' %>

		<%= link_to 'Back', articles_path , class: 'btn margin_top_10 buttonShift' %>
	</div>
</div>