
<div class = "card wrap4">
	<div class="wrap5">
		<h1>
		  <%= @article.title %>
		</h1>
		 
		<h3>
		  <%= @article.text %>
		</h3>

		<hr></hr>

		<p>Comments:</p>
		<%= render @article.comments %>

		<hr></hr>
		<p>Add a comment:</p>
		<%= render 'comments/form' %>
	 </div>
	 <div class= "card-action">
	<%= link_to 'Edit', edit_article_path(@article), class: "center" %> |
	<%= link_to 'Back', articles_path, class: "center" %>
</div>
</div>