/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "materialize";

.margin_left_10{
	margin-left: 10px;
}
.margin_top_10{
	margin-top:10px;
}
.wrap {
  width: 450px;
  margin: 0 auto;
}

.padding-top-20{
	padding-top:20px;
}
.wrap2 {
  width: 750px;
  height: 450px;
  margin: 0 auto;
}
.wrap3{
  width: 750px;
  margin: 0 auto;
}

.wrap4{
	width: 750px;
	margin: 0 auto;
	height:550px;
}
.wrap5{
  width: 550px;
  margin: 0 auto;
}
html{
	background: url(background.jpeg) no-repeat center center fixed;
 	background-size: cover;
}

.buttonShift{
	margin-left:150px;
}